*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
::before{
    padding: 0;
    margin: 0;
}
::after{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0px 5px 0px 5px;
    background-color: #242424;
}